<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<div class="footerImagen" style="margin-top: 25px;">
  <div class="content">
    <div class="left box">
      <div class="upper">
        <p style="font-size: 25px;">Hacerte la vida más fácil y rápida</p>
      </div>
    </div>


    <div class="right box">
      <div class="topic"></div>
        <div class="media-icons">
          <img src="https://www.diariomotor.com/imagenes/2021/05/ghost-rider.jpg" alt="car" width="450" height="300">
        </div>
    </div>

  </div>
</div>
