<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<footer>
  <div class="content">
    <div class="left box">
      <div class="upper">
        <div class="topic">Acerca de Nosotros</div>
        <p>Agilizamos la entrega de productos especificados en nuestro portal. Nos reinventamos cada día para
          movilizarnos mejor y encontrarás muchas ventajas con nuestre excelente servicio.
        </p>
      </div>
      <div class="lower">
        <div class="topic">Contáctanos</div>
        <div class="phone">
          <a href="#"><i class="fas fa-phone-volume"></i>Claro - 0959568616</a>
        </div>
        <div class="phone">
          <a href="#"><i class="fas fa-phone-volume"></i>Tuenti - 0978735378</a>
        </div>
        <div class="email">
          <a href="#"><i class="fas fa-envelope"></i>danielmauricio1983@hotmail.com</a>
        </div>
      </div>
    </div>
    <div class="middle box">
      <div class="topic">Nuestro Servicio</div>
      <div><a href="#">Medicina</a></div>
      <div><a href="#">Comida</a></div>
      <div><a href="#">Respuestos Automotriz</a></div>
    </div>
    <div class="right box">
      <div class="topic">Redes Sociales</div>
      <form action="#">
        <div class="media-icons">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </form>
    </div>
  </div>
  <div class="bottom">
    <p>Copyright © 2022 <a href="#">Diablito Express</a> Derechos Reservados</p>
  </div>
</footer>
