<div class="header">
  <a href="#default" class="logo">Diablito Express</a>
  <div class="header-right">
    <a class="active" href="#">Inicio</a>
    <a href="#">Contacto</a>
    <a href="#">Acerca de</a>
  </div>
</div>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<footer>
  <div class="content">
    <div class="left box">
      <div class="upper">
        <p style="font-size: 25px;">Hacerte la vida más fácil y rápida</p>
      </div>
    </div>

    <div class="right box">
      <div class="upper">
        <img style="padding: 25px;" src="https://www.diariomotor.com/imagenes/2021/05/ghost-rider.jpg" alt="car" width="500" height="300">
      </div>
    </div>

  </div>
</footer>
