<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<div class="footerImagen">
  <div class="content">
    <div class="left box">
      <div class="upper">
        <div class="topic">Contáctanos</div>
        <div class="phone">
          <a href="https://wa.me/593998255174?text=Me%20interesa%20el%20auto%20que%20estás%20vendiendo" target="_blank"><img style="margin: 10px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Claro.svg/2048px-Claro.svg.png  " width="30px" height="30px">0959568616</a>
        </div>
        <div class="phone">
          <a href="https://wa.me/593998255174?text=Me%20interesa%20que%20realices%20una%20entrega%20" target="_blank"><img style="margin: 10px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Nuevo_Logo_Tuenti.svg/1280px-Nuevo_Logo_Tuenti.svg.png" width="30px" height="30px">0978735378</a>
        </div>
        <div class="email">
          <a href="#"><img style="margin: 10px;" src="https://images.vexels.com/media/users/3/130187/isolated/preview/5e8d2205ecc8cde3235581fc5ecfa430-icono-de-contorno-de-correo-electronico.png" width="30px" height="30px">danielmauricio1983@hotmail.com</a>
        </div>
      </div>
    </div>
    <div class="middle box">
      <div class="topic">Redes Sociales</div>
      <form action="#">
        <div class="media-icons">
          <a style="color: blue;" href="https://www.facebook.com/miguel.bonilla.140/" target="_blank"><i class="fab fa-facebook"></i></a>
          <a style="color: #833AB4;" href="https://www.instagram.com/miguel.bonilla.140/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a style="color: #00AAE4;;" href="https://twitter.com/miguelbonilla10" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
      </form>
    </div>
    <div class="middle box">

    </div>
  </div>
</div>
